<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Forget Password</title>
</head>
<body>
<section>
  <div id="forget">
    <div class="container">
      <div id="forget-row" class="row justify-content-center align-items-center">
        <div id="forget-column" class="col-md-6">
          <div id="forget-box" class="col-md-12">
            <form id="forget-form" class="form" th:action="@{/reset-password}" method="post">
              <h3 class="text-center text-color my-3">Reset Password</h3>

              <!--              alert-message  -->

              <div th:if="${session.msg}" th:classappend="${session.msg.type}" class="alert alert-dismissible fade show" role="alert">
                <span th:text="${session.msg.content}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
              </div>

              <div class="mb-3">
                <label for="newPassword" class="text-color">New Password:</label><br>
                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Enter New Password">
              </div>

              <div class="text-center">
                <input type="submit" name="submit" class="btn btn-starter btn-md text-light" th:value="Reset">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>